[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Name=Zensors
Icon=harbour-zensors
Exec=harbour-zensors

[X-Sailjail]
Permissions=Sensors;Location;Internet;Connman;Bluetooth;NFC;Audio;Microphone
OrganizationName=com.example
ApplicationName=harbour-zensors
