[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Name=Sensors
Icon=harbour-myapp
Exec=harbour-myapp

[X-Sailjail]
Permissions=Sensors;Location;Internet;Connman;Bluetooth;NFC;Audio;Microphone
OrganizationName=com.example
ApplicationName=harbour-myapp
